@model DraftTransferCommand

@{
    ViewData["Title"] = "Draft Transfer";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Bank</a></li>
        <li class="breadcrumb-item active" aria-current="page">draft</li>
    </ul>
</nav>

<form asp-action="DraftTransfer" method="POST">
    <div class="form-group">
        <input asp-for="TransactionId" type="text" class="form-control" id="TransactionId" aria-describedby="TransactionId" placeholder="Enter transaction id">
    </div>
    <br />
    <div class="form-group">
        <input asp-for="CreditAccountId" type="text" class="form-control" id="CreditAccountId" aria-describedby="CreditAccountId" placeholder="Enter credit account id">
    </div>
    <br />
    <div class="form-group">
        <input asp-for="DebitAccountId" type="text" class="form-control" id="DebitAccountId" aria-describedby="DebitAccountId" placeholder="Enter debit account id">
    </div>
    <br />
    <div class="form-group">
        <input asp-for="Amount" type="number" class="form-control" id="Amount" aria-describedby="Amount" placeholder="Enter amount">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<p>
    <a asp-action="All" class="btn btn-secondary">Back to List</a>
</p>